body {
    background: #fff;
    font-family: 'Inter';
    margin: 0;
    overflow-x: hidden;
}

section  {
    margin: 80px;
}

.video {
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}.img-fundo {
    width: 100%;
}

.nav {
    width: 100%;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;
}

.sec1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    justify-items: center;
}

.star-sec {
    gap: 12px;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;
    justify-items: end;
}

.over {
    gap: 12px;
    display: flex;
    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.al {
    color: #0B933A;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.sec-intro-course {
    gap: 44px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    justify-items: start;
}

.titulo-1 {
    color: #000;
    font-size: 44px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.subtitulo-1 {
    margin: 0;
    color: rgba(0, 0, 0, 0.50);
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.box-tag {
    gap: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    justify-items: center;

    color: #000;
    text-align: right;
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}.box {
    display: flex;
    padding: 15px 28px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 100px;
    border: 2px solid rgba(11, 147, 58, 0.50);
}.box:hover {
    transition: 0.2s ease-in;
    background: #0B933A;
    color: #FFF;
}

.creator {
    display: flex;
    align-items: flex-start;
    justify-content: start;
    justify-items: start;
    gap: 20px;
}

.txt-creator {
    gap: 10px;
    display: flex;
    align-items: start;
    flex-direction: column;
}

.text-creator {
    display: flex;
    align-items: center;
    gap: 5px;
    color: rgba(0, 0, 0, 0.60);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}

.txt-creator-harvard {
    color: rgba(0, 0, 0, 0.70);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    text-decoration-line: underline;
}

.btt-vf {
    display: inline-flex;
    padding: 3px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 3px;
    background: rgba(168, 29, 40, 0.30);

    color: #A81D28;
    font-family: Inter;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: uppercase;
}

.txt-btt-começar {
    width: 100%;
    color: #FFF;
    text-align: center;
    font-family: Inter;
    font-size: 15px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}

.btt-começar {
    display: flex;
    padding: 20px 100px;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 5px;
    background: #0B933A;
}.btt-começar:hover {
    transition: 0.2s ease-out;
    color: #0B933A;
    border-radius: 5px;
    border: 2px solid #2CAE58;
    background: rgba(11, 147, 58, 0.10);
}

.descri-1{
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
    margin: 0;
}

.box-info {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
    gap: 24px;
}

.box-- {
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: star;
    justify-items: start;
    gap: 8px;
}

.titulo-2 {
    color: #000;
    font-family: Inter;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    text-transform: capitalize;
    margin: 0;
}

.subtitulo-2 {
    color: rgba(0, 0, 0, 0.50);
    font-family: Inter;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    margin: 0;
}

.box-info-certi {
    flex-direction: column;
    display: flex;
    padding: 102px 15px 0px 15px;
    justify-content: center;
    align-items: center;
}

.txt-certificado {
    display: flex;
    width: 100%;
    padding-top: 60px;
    padding-bottom: 40px;
    padding-right: 40px;
    padding-left: 40px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 7px;

    border-radius: 10px;
    border: 3px solid rgba(0, 0, 0, 0.20);
    background: #FFF;
}

.certificado {
    width: 500px;
    position: absolute;
    padding-bottom: 350px;
}

.box-certi {
    padding-top: 100px;
}